.main-section {
    height: 100vh;


    .inner {
        height: 100vh;
        background: var(--red);
        width: 100%;
        clip-path: polygon(35% 100%, 100% 50%, 100% 100%);
    }

    .content {
        margin-top: 200px;
        padding: 70px;
        position: absolute;
        
    }

    .titulo{
        font-size: 75px;
    }

    .legenda{
        font-size: 30px;
        margin-top: 10px;
    }

    .btnred{
        background-color: #cf2a1f;
        height: 60px;
        width: 400px;
        border-radius: 5px;
        color: white;
        font-size: 30px;
        margin-top: 30px;
    }

    img {
        position: absolute;
        z-index: 100;
        right: 275px;
        bottom: 0;
        height: 450px;
    }
}

.slides{
    color: white;
    background-size:auto;

    .perg{
        font-size: 75px;
        margin-bottom: 60px;
    }
    
    .info{
        font-size: 30px;
    }
    
    .slide1{
        background-image: url('./../assets/media/1.jpeg');
        height: 380px;
        padding: 70px;
    }
    
    .slide2{
        background-image: url('./../assets/media/2.jpeg');
        height: 380px;
        text-align: right;
        padding: 70px;
    }

    .slide3{
        background-image: url('./../assets/media/3.jpeg');
        height: 380px;
        padding: 70px;
    }
    
}

.footer{
    
    .footer-left{
        padding: 15px;
        width: 50%;
        height: 100%;
        float: left;

        .img-logo{
            height: 80px;
            margin-top: 15px;
            margin-bottom: 40px;
        }

        .icons{
            height: 55px;
            margin-right: 10px;
            // filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(336deg) brightness(108%) contrast(102%);
        }
    }

    .footer-right{
        width: 50%;
        height: 100%;
        float: right;

        .titulo{
            font-size: 45px;
        }

        .dados{
            font-size: 20px;
            color: grey;
        }

        .box{
            font-size: 20px;
            color: grey;
        }

        .right-left{
            width: 50%;
            height: 100%;
            float: left;
        }

        .right-right{
            width: 50%;
            height: 100%;
            float: right;
        }
    }
}



